 .u-section-1 {
  background-image: none;
  min-height: 845px;
}

.u-section-1 .u-image-1 {
  height: 667px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 453px;
  min-height: 379px;
  height: auto;
  background-image: none;
  margin: -286px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 24px 41px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 22px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 3px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 16px 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 494px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -113px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 955px;
}

.u-section-2 .u-group-1 {
  width: 521px;
  min-height: 836px;
  height: auto;
  margin: 58px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 34px 126px 0 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 3px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  border-style: solid;
  margin: 40px auto 0 0;
  padding: 16px 47px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 605px;
  margin: -836px 0 58px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 145px;
  height: 145px;
  background-image: url("images/tttt.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 7px 1px 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 395px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 145px;
  height: 145px;
  background-image: url("images/7.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: normal;
  margin: 7px 1px 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 145px;
  height: 145px;
  background-image: url("images/4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: normal;
  margin: 7px 1px 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 381px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 145px;
  height: 145px;
  background-image: url("images/51.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: normal;
  margin: 7px 1px 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-icon-12 {
  height: 100%;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-2 .u-group-1 {
    width: 378px;
    min-height: 864px;
    margin-top: 60px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 59px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 542px;
    margin-top: -850px;
    margin-bottom: 74px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 394px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-2 .u-group-1 {
    min-height: 466px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 109px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 207px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 21px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 130px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1490px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 1197px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 210px;
  width: 210px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 210px;
  width: 210px;
  background-image: url("images/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 210px;
  width: 210px;
  background-image: url("images/bbef6c67-d065-15d8-00f7-04c4574b8bd9.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 210px;
  width: 210px;
  background-image: url("images/6.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-10 {
  height: 100%;
}

.u-section-3 .u-icon-11 {
  height: 100%;
}

.u-section-3 .u-icon-12 {
  height: 100%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 210px;
  width: 210px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-13 {
  height: 100%;
}

.u-section-3 .u-icon-14 {
  height: 100%;
}

.u-section-3 .u-icon-15 {
  height: 100%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 210px;
  width: 210px;
  background-image: url("images/woman4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-16 {
  height: 100%;
}

.u-section-3 .u-icon-17 {
  height: 100%;
}

.u-section-3 .u-icon-18 {
  height: 100%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 210px;
  width: 210px;
  background-image: url("images/5man.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-14 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-15 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-7 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-19 {
  height: 100%;
}

.u-section-3 .u-icon-20 {
  height: 100%;
}

.u-section-3 .u-icon-21 {
  height: 100%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  height: 210px;
  width: 210px;
  background-image: url("images/woman7.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-17 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-8 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-22 {
  height: 100%;
}

.u-section-3 .u-icon-23 {
  height: 100%;
}

.u-section-3 .u-icon-24 {
  height: 100%;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  height: 210px;
  width: 210px;
  background-image: url("images/happy-man-with-long-thick-ginger-beard-has-friendly-smile_273609-16616.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-18 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-19 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-9 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-25 {
  height: 100%;
}

.u-section-3 .u-icon-26 {
  height: 100%;
}

.u-section-3 .u-icon-27 {
  height: 100%;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  height: 210px;
  width: 210px;
  background-image: url("images/ddddddd.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-20 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-21 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-10 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-28 {
  height: 100%;
}

.u-section-3 .u-icon-29 {
  height: 100%;
}

.u-section-3 .u-icon-30 {
  height: 100%;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-11 {
  height: 210px;
  width: 210px;
  background-image: url("images/5mant.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-22 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-23 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-11 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-31 {
  height: 100%;
}

.u-section-3 .u-icon-32 {
  height: 100%;
}

.u-section-3 .u-icon-33 {
  height: 100%;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-image-12 {
  height: 210px;
  width: 210px;
  background-image: url("images/53.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-24 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-25 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-12 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-34 {
  height: 100%;
}

.u-section-3 .u-icon-35 {
  height: 100%;
}

.u-section-3 .u-icon-36 {
  height: 100%;
}

.u-section-3 .u-text-26 {
  margin: 20px auto 60px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 987px;
  }

  .u-section-3 .u-image-1 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-social-icons-1 {
    width: 77px;
  }

  .u-section-3 .u-image-2 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-social-icons-2 {
    width: 77px;
  }

  .u-section-3 .u-image-3 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-social-icons-3 {
    width: 77px;
  }

  .u-section-3 .u-image-4 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-social-icons-4 {
    width: 77px;
  }

  .u-section-3 .u-image-5 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-social-icons-5 {
    width: 77px;
  }

  .u-section-3 .u-image-6 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
  }

  .u-section-3 .u-social-icons-6 {
    width: 77px;
  }

  .u-section-3 .u-image-7 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-text-15 {
    width: auto;
  }

  .u-section-3 .u-social-icons-7 {
    width: 77px;
  }

  .u-section-3 .u-image-8 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
  }

  .u-section-3 .u-text-17 {
    width: auto;
  }

  .u-section-3 .u-social-icons-8 {
    width: 77px;
  }

  .u-section-3 .u-image-9 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
  }

  .u-section-3 .u-text-19 {
    width: auto;
  }

  .u-section-3 .u-social-icons-9 {
    width: 77px;
  }

  .u-section-3 .u-image-10 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-20 {
    width: auto;
  }

  .u-section-3 .u-text-21 {
    width: auto;
  }

  .u-section-3 .u-social-icons-10 {
    width: 77px;
  }

  .u-section-3 .u-image-11 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-22 {
    width: auto;
  }

  .u-section-3 .u-text-23 {
    width: auto;
  }

  .u-section-3 .u-social-icons-11 {
    width: 77px;
  }

  .u-section-3 .u-image-12 {
    height: 168px;
    width: 168px;
  }

  .u-section-3 .u-text-24 {
    width: auto;
  }

  .u-section-3 .u-text-25 {
    width: auto;
  }

  .u-section-3 .u-social-icons-12 {
    width: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3007px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 2724px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-1 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-2 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-3 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-4 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-5 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-6 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-7 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-8 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-9 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-10 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-21 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-11 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-23 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-image-12 {
    height: 238px;
    width: 238px;
  }

  .u-section-3 .u-text-24 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-25 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-text-26 {
    width: auto;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 576px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-form-1 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 456px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-icon-1 {
  height: 16px;
  width: 16px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-icon-2 {
  height: 16px;
  width: 16px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-accordion-link-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-icon-3 {
  height: 16px;
  width: 16px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-4 .u-btn-1 {
    width: 100%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}